* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #d2b7e5);
}
.link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #3f3649;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.8;
}
.link:hover {
    text-decoration: none;
    background-color: #d2b7e5;
    color: rgb(14, 13, 13);
    display: flex;
    min-height: 3vh;
    background: linear-gradient(to right top, #65dfc9, #d2b7e5);
    border-radius: 2rem;
    box-sizing: border-box;
  box-shadow:  8px 8px 8px #0E0D1F,15px 15px 15px #6cdbeb;

}
.navbar {
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.current {
    background: linear-gradient(to right top, #65dfc9, #d2b7e5);
    border-radius: 2rem;
}
.container{
    background: white;
    margin-top: 2rem;
    min-height: 100vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}
.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}
