* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #d2b7e5);
}
.link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #3f3649;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.8;
}
.link:hover {
    text-decoration: none;
    background-color: #d2b7e5;
    color: rgb(14, 13, 13);
    display: flex;
    min-height: 3vh;
    background: linear-gradient(to right top, #65dfc9, #d2b7e5);
    border-radius: 2rem;
    box-sizing: border-box;
  box-shadow:  8px 8px 8px #0E0D1F,15px 15px 15px #6cdbeb;

}
.navbar {
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.current {
    background: linear-gradient(to right top, #65dfc9, #d2b7e5);
    border-radius: 2rem;
}
main {
  margin-top: 2rem;
}
/* .container{
    background: white;
    margin-top: 2rem;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
} */
.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}
/*-------------------------About---------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../image/about.jpg") top right;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 30px;
  position: relative;
 margin: 30px;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 50px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  color: #edf5f4;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }

}

section{
  --main-color:#e8786e;
  --black:#555;
  --light-color:#777;
  --bg:#fceae9;
  --border:.1rem solid rgba(0,0,0,.1);
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

section{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease-out;
}

section{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding-bottom: 3rem;
  font-size: 4rem;
  color:var(--black);
}

section{
  padding: 10px 9%;
}

.heading{
  text-align: center;
  padding-bottom: 10px;
  font-size: 40px;
  color:var(--black);
}

.heading span{
  color:var(--main-color);
  border-radius: 4px;
  background: var(--bg);
  padding:0 6px;
}

.btn{
  margin-top: 10px;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background:var(--main-color);
  border-radius: 15px 10px 15px 10px;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow:hidden;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right:0;
  height: 100%;
  width:0%;
  background:var(--black);
  z-index: -1;
  transition: .2s ease-out;
}

.btn:hover::before{
  left:0;
  width:100%;
}

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.4rem;

  
}
.about .row .image{
  flex:-1 -1 60px;
  padding-right: -10px;
    
}

.about .row .image img{
  width:1 1 100%;
 
}

.about .row .content{
  flex:3 3 120px;
  padding-left: 20px;

}

.about .row .content .title{
  font-size: 24px;
  color:var(--black);
  padding-top: 10%;
  
}

.about .row .content p{
  font-size: 18px;
  color:var(--light-color);
  line-height: 20px 20px;
  padding: 8px 0;
}

.about .row .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap:6px;
  padding-top: 10px;
}

.about .row .content .icons-container .icons{
  flex:1 1 20px;
  border-radius: 6px;
  border:var(--border);
  padding: 12px;
  text-align: center;
}

.about .row .content .icons-container .icons i{
  border-radius: 30%;
  background: var(--bg);
  color:var(--main-color);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
}

.about .row .content .icons-container .icons h3{
  color:var(--light-color);
  font-size: 12px;
  padding-top: 8px;
}

/*-------------------------Contact---------------------------*/
.con-body::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #b185db;
  /* clip-path: polygon(84% 8%, 100% 20%, 50% 100%, 110% 80%); */
}
.container2{
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container2 .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.content .image-box{
  max-width: 55%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
  font-size: 2rem;
  font-weight: 500;
  color: #394d5f;
}
.content form{
  width: 40%;
  margin-right: 30px;
}
.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #c7d3e9;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .input-box input:focus,
.content .input-box input:valid{
  border-color: #8face2;
  background-color: #c7d3e9;
}
.content .input-box label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #5a7d9b;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color: #fff;
  background: #8face2;
  font-size: 12PX;
}
.content .message-box{
  min-height: 100px;
  position: relative;
}
.content .message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #c4d3ee;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  border-color: #b9caeb;
  transition all 0.3s ease;
}

.content .message-box textarea:focus{
  border-color: #aabfe6;
}

.content .message-box label{
  position: absolute;
  font-size: 16px;
  color:#8face2;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.content .message-box textarea:focus ~ label{
  left: 12px;
  top: -10px;
  color:#fff;
  font-size: 12px;
  background: #8face2;
}

.content .input-box input[type="submit"]{
  color: #fff;
  background: #8fafcc;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border-color: none;
}

.content .input-box input[type="submit"]:hover{
  background-color: rgb(81, 100, 126);
}

@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}

@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}

.contact .icons-container{
  gap:2rem;
  padding-bottom: 9%;
  padding-top: 9%;
}

.icons-container .icons:hover{
  box-shadow: 12px 12px 2px 1px rgba(79, 79, 212, 0.2);
  /* transform: translateY(10px) scale(0.5); */
  transition: 0.8s;
}
.contact .icons-container .icons{
  padding: 2rem;
  text-align: center;
  border: outset;
  border-radius: 1.5rem;
  size: 1ch;
}

.contact .icons-container .icons i{
  height: 5rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 5rem;
}

.contact .icons-container .icons h3{
  padding: 1rem 0;
  font-size: 1.3rem;
}

.contact .icons-container .icons p{
  color:var(--light-color);
  line-height: 1.8;
  font-size: 1rem;
}
/* section{
  padding:2rem 9%;
  position: cover;
} */
@media (max-width:1000px) {
  .icons-container .icons{
    max-width: 70%;
    margin-left: 77px;
  }
}